/* --------------------------------------------------------------- Reset */
body{background-color:#fff; min-width:960px; text-shadow: #000 0 0 0; font-family: Georgia, "Times New Roman", Times, serif;font-size:13px;color:#000;}
body *{outline:none;}
body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
fieldset,img,abbr,acronym{border: 0px;}
p,h1,h2,h3,h4,h5, h6{margin:10px 0;}
ul{list-style-type: none;}
address,caption,cite,code,th,var{font-style:normal;font-weight:normal;}
q:before,q:after {content:'';}
/* --------------------------------------------------------------- Utils */
hr{display:none;position:absolute;}
.ns{overflow:hidden;}
.nb{border:0px;background:transparent;}
.dn{display:none;}
.fc{ /* float container */
        overflow:hidden;
        /* ie 6- */
        _height:auto;
        _overflow:visible;
        zoom:1;
}
.hide{
        visibility:hidden;
        overflow:hidden;
        height:1px;
        margin-top:-1px;
}
/* --------------------------------------------------------------- Fonts */
.al{text-align: left;}
.ac{text-align: center;}
.ar{text-align: right;}
.txtErro{color:red;}
/* --------------------------------------------------------------- Formularios */
input[type="hidden"]{visibility:hidden;}
input, select, textarea{color:#000;border: #404040 1px solid;background-color:#fff;}
textarea{overflow:auto;}
.fixSelect{vertical-align: 0 !important;vertical-align: -2px;}
.fixRadio{width:13px !important;height:13px !important;width:15px;height:15px;vertical-align: -2px;border:none;background:none;padding:0;margin:0;}
/* --------------------------------------------------------------- Links */
a:link{text-decoration:underline; color: #000; font-weight:bold;}
a:visited{text-decoration:underline;color: #000; font-weight:bold;}
a:active{text-decoration:underline;color: #000; font-weight:bold;}
a:hover{text-decoration:none;color: #000; font-weight:bold;}
/* --------------------------------------------------------------- Posicionamento */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.mt0{margin-top:0 !important;}

/* --------------------------------------------------------------- Fundo */
body, html {
	background: url(../img/bg.gif) #E1DBA7;
}

/* --------------------------------------------------------------- */
h1 {
	display:block;
	margin:0;
	padding:0;
	height: 127px;
	background: url(../img/logo.gif) no-repeat center 30px;
	text-indent: -100%;
}
h2 {
	color: #4D551D;
	font-size: 34px;
	font-weight: bold;
	font-style: oblique;
	margin-top:0;
	margin-bottom:23px;
}

/* --------------------------------------------------------------- Menu */
#menu {
	background: url(../img/bg_menu.gif);
}
	#menu  ul{
		height: 54px;
		width: 960px;
		margin: auto;
		background: url(../img/bg_separador_menu.gif) no-repeat right;
	}
	
		#menu ul li{
			display:inline;
		}
		
			#menu ul li a,
			#menu ul li a:visited {
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				font-size: 15px;
				width: 137px;
				display: block;
				float: left;
				text-align: center;
				padding-top: 19px;
				height: 35px !important;
				background: url(../img/bg_separador_menu.gif) no-repeat;
				text-decoration: underline;
			}
			#menu ul li a:hover{
				background: url(../img/bg_menu_hover.gif) no-repeat;
				color: #3B392F;
				padding-top: 21px;
				height: 33px !important;
				text-decoration: none;
			}
			#menu ul li a:active{
				background: url(../img/bg_menu_active.gif) no-repeat;
				color: #000;
				text-decoration: none;
			}
/* --------------------------------------------------------------- destaque */
#destaque {
	height: 340px;
	width: 960px;
	margin: auto;
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 4px solid #E5961D;
}
/* --------------------------------------------------------------- conteudos */
.conteudo {
	width: 960px;
	margin: auto;
	background: #F4EFD1;
	margin-bottom: 15px;
	border-top: 4px solid #E5961D;
	border-bottom: 4px solid #E5961D;
	overflow: hidden;
	zoom:1;
}
	.text {
		width: 490px;
		margin: 42px 70px 42px 72px;
		_margin: 42px 70px 42px 37px;
		display:block;
		float:left;
	}
	.mapa {
		margin: 0 0 42px 60px;
		_margin: 0 0 42px 38px;
		display:block;
		float: left;
	}
	.fotoGalley {
		margin: 0 0 42px 50px;
		_margin: 0 0 42px 28px;
		display:block;
		float: left;
	}
		.foto{
			width: 290px;
			height: 214px;
			background: url(../img/bg_foto.gif) no-repeat;
			float: left;
			display: inline;
		}
			.fotoTop {
				margin-top: 40px;
			}
			.foto img{
				margin-top:21px;
				margin-left:19px;
			}
/* --------------------------------------------------------------- destaques */

.slideshow-captions {
	padding-top: 8px;
	background: #fff;
	bottom: 0;
	color: #000;
	font-face: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: oblique;
	font-weight: bold;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	width: 100%;
	z-index: 10000;
}
.slideshow-captions-hidden {
	height: 0;
	opacity: 0;
}
.slideshow-captions-visible {
	height: 30px;
	opacity: .7;
}

/* --------------------------------------------------------------- Slimbox */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../img/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../img/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../img/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../img/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
